@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  background-color: #9ebccf;
  color: 	#fff9e7;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-size: 50px;
  padding: 40px;
}

.hometemplate {
  background-color: #16537e;
  font-family: 'Poppins';
  border-radius: 25px;
}

.hometemplate p.select {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}

.recipes {
  text-align: center;
}

.list {
  margin-left: -30px;
  display: block;
  text-align: center;
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;
  color: grey;
  font-size: 30px;
  padding-bottom: 40px;
}

a {
  color: 	#fff9e7;
  text-decoration: none;
}

.hometemplate .list li {
  margin-bottom: 10px;
}